<div class="homepageBackgroundPic"></div>
<h1 class="welcomeText">Welcome in Clublingua!</h1>
<h2 class="descriptionText">Free website for learning languages...</h2>
<h3 class="chooseALanguageClass">Choose a language:</h3>
<button mat-raised-button class="custom-color languageButtonSK" (click)="chooseLanguage('sk')">Slovak
    <span class="fi fi-sk" style="margin-left: 8px;"></span></button>
<button mat-raised-button class="custom-color languageButtonPT" disabled>Portuguese<span class="fi fi-pt"
        style="margin-left: 8px;"></span></button>
<div class="demo-banner">Demo Version - Thanks for exploring! 🚀</div>