/* chat-window.component.css */

.chat-container {
  display: flex;
  justify-content: space-between;
  background-color: #e9eff9;
}

.user-list {
  width: 30%; /* Adjust the width as needed */
  padding: 16px;
  border-right: 1px solid #ccc; /* Add a border to separate users from messages */
}

.chat-content {
  width: 60%; /* Adjust the width as needed */
  padding: 16px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  background-color: #e6f7ff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.message.sent {
  align-self: flex-end; /* Align sent messages to the right */
}

.message-input {
  margin-top: 16px;
  display: flex;
}

.message-input textarea {
  flex: 1;
  margin-right: 8px;
}

.logout-button {
   align-self: flex-end;
   margin-bottom: 30px;
   margin-right: 30px;
   max-height: 50px;
}
.send-button {
   align-self: flex-end;
   margin-bottom: 30px;
   margin-right: 30px;
   max-height: 50px;
}
.user-info{
  background-color: #9fc164;
  max-width: 50%;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 10px;
  border-radius: 6px;
  text-align: left;
  color:white
}
/* TODO add some color to "online users font" */
/* .h3 {
  color: #4f4cb0;
} */