<div class="chat-container">
    <div class="user-list">
        <h3>Online users:</h3>
        <div *ngFor="let user of connectedUsers" class="user-item" (click)="userItemClick(user)">
            <app-user-icon [username]="user.fullName"></app-user-icon>
            <span class="nbr-msg hidden">0</span>
        </div>
    </div>
    <!-- TODO, move username of logged user closer to the logout button -->
    <div class="chat-content">

        <div class="user-info">
            <p>Logged in user : {{ userFullName }}</p>
        </div>

        <!-- Chat messages area -->
        <div class="chat-messages">
            <div *ngFor="let message of messages">
                {{ message.content }}
                <p>____________________________________</p>
            </div>
        </div>

        <!-- Input area for writing messages -->
        <div class="message-input">
            <textarea [(ngModel)]="message" placeholder="Type your message..."></textarea>
            <button mat-raised-button class="send-button" (click)="sendMessage(message)">Send</button>
        </div>
    </div>

    <button mat-raised-button class="logout-button" (click)="logout()">Logout</button>
</div>